<div class="navigationButtonPane">
  <button
    routerLink="criteria/coefficients"
    routerLinkActive="selected"
    class="profileButton"
  >
    Критерії та оцінки
  </button>
  <button
    routerLink="expert/weight/coefficients"
    routerLinkActive="selected"
    class="profileButton"
  >
    Оцінки вагомості експертів
  </button>
  <button
    routerLink="grade/complex"
    routerLinkActive="selected"
    class="profileButton"
  >
    Комплексні оцінки
  </button>
  <button
    routerLink="diagram/visualization"
    routerLinkActive="selected"
    class="profileButton"
  >
    Діаграми
  </button>
</div>
<router-outlet />
